# Pusher - Crie uma conta GRATUITA em https://pusher.com
# App > Keys

NEXT_PUBLIC_PUSHER_KEY=sua_pusher_key_aqui
NEXT_PUBLIC_PUSHER_CLUSTER=mt1

PUSHER_APP_ID=seu_app_id_aqui
PUSHER_SECRET=seu_secret_aqui

# IMPORTANTE: No painel do Pusher, vá em App Settings e ative:
# ✅ Enable client events
